<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inflected Objects/<%= @title %></title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" href="css/inflected-main.css" type="text/css">
	</head>

    <body>

        <div class="container">

            <div class="header">
                <h1 class="header-title">
                    <span class="deform">Inflected objects</span>
                </h1>
            </div>

            <div class="content">
                <ul class="items">
                    <% if @imgs %> 
                    <% for @img in @imgs %>
                        <li class="item item--image">
                            <div class="item-container">
                                <div class="item-content">
                                <% if @img.class == Array %>
                                    <ul class="carousel">
                                    <% for carousel in @img %>
                                        <li class="carousel-image">
                                            <img src="assets/imgs/<%= File.basename(carousel[:path]) %>">
                                            <div class="item-caption"><%= carousel[:caption] %></div>
                                        </li>
                                    <% end %>
                                    </ul>
                                <% else %>
                                    <img src="assets/imgs/<%= File.basename(@img[:path]) %>">
                                    <div class="item-caption"><%= @img[:caption] %></div>
                                <% end %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                    <% end %>
                </ul>
            </div>
        </div>

        <script src="js/bundle.js"></script>

	</body>
</html>
