<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inflected Objects</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/inflected-main.css" type="text/css">
	</head>

    <body class="<%= @name %>">

        <div class="container">

            <div class="header">
                <h1 class="header-title">
                    <span class="deform">Inflected objects</span>
                </h1>
            </div>

            <div class="navigation">
                <ol class="navigation-list">
                    <% for @section in @sections %>
                        <li class="navigation-item navigation-item--<%= @section[:path] %>">
                            <a class="navigation-link"
                               href="<%= @section[:path] %>.html">
                               <span class="deform">
                                   <%= @section[:title] %>
                               </span>
                            </a>
                            <% if @section[:subsections] && @section[:subsections].count > 0 %>
                            <ul class="">
                                <% for @subsection in @section[:subsections] %>
                                    <li>
                                        <a href="<%= @section[:path] %>/<%= @subsection[:path]  %>.html">
                                            <%= @subsection[:title] %>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                            <% end %>
                        </li>
                    <% end %>
                </ol>
            </div>
        </div>

        <script src="js/bundle.js"></script>
	</body>
</html>
