<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inflected Objects</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" href="css/inflected-main.css" type="text/css">
	</head>

    <body>

        <div class="container">

            <div class="header">
                <h1 class="header-title">
                    <span class="deform">Inflected objects</span>
                </h1>
            </div>

            <div class="navigation">
                <ol class="navigation-list">
                    <% for @section_name, @section in @sections %>
                        <li class="navigation-item navigation-item--<%= @section[:meta]['type'] %>">
                            <a class="navigation-link"
                               href="<%= @section[:public_path] %>.html">
                               <span class="deform">
                                   <%= @section[:title] %>
                               </span>
                            </a>
                            <% if @section[:children] %>
                            <ul class="subnavigation">
                                <% for @subsection_name, @subsection in @section[:children] %>
                                    <li class="subnavigation-item">
                                        <a
                                        <% if @subsection[:children].empty? %>
                                              href="<%= @subsection[:public_path] %>.html"
                                        <% end%>
                                        class="subnavigation-link">
                                            <span class="deform">
                                                <%= @subsection[:title] %>
                                            </span>
                                        </a>

                                        <% if @subsection[:children] %>
                                        <ul class="subnavigation">
                                            <% for @subsubsection_name, @subsubsection in @subsection[:children] %>
                                                <li class="subnavigation-item">
                                                    <a class="subnavigation-link" href="<%= @subsubsection[:public_path] %>.html">
                                                        <span class="deform">
                                                            <%= @subsubsection[:title] %>
                                                        </span>
                                                    </a>
                                                </li>
                                            <% end %>
                                        </ul>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                            <% end %>
                        </li>
                    <% end %>
                    <li class="navigation-item">
                        <a class="navigation-link" href="social.html">
                            <span class="deform">
                                Now
                            </span>
                        </a>
                    </li>
                </ol>
            </div>

            <div class="footer">
                <ul class="social">
                    <li class="social-link">
                        <a href="https://www.facebook.com/pages/Inflected-Objects/429840470531179">Facebook</a>
                    </li>
                    <li class="social-link">
                        <a href="https://instagram.com/inflected_objects">Instagram</a>
                    </li>
                </ul>
                <p class="footer-text">
                    A project initiated by the Istituto Svizzero
                </p>
                <p>
                    In cooperation with Frans Hals Museum | De Hallen Haarlem and supported by the Mondriaan Fund and Goethe-Institut
                </p>
                <img src="css/logos.png" alt="sponsor logos">
            </div>
        </div>


        <script src="js/bundle.js"></script>
	</body>
</html>
